
<DIV [ngStyle]="{color:'blue',fontSize:'30px'}">1.WEL-COME</DIV>

<DIV style="color: red;">2.WEL-COME</DIV>


<div style="color:blueviolet;font-size: 30px;">
  Tupple 01
</div>

<div [ngStyle]="{color:'pink',fontSize:'90px'}">

  {{count}}. Tupple 01
  <br/>
  count = {{count+20}}
</div>



<div [ngStyle]="{color:count>100?'green':'red',fontSize:'10px'}">

My color is dynamic..
</div>
<input type="text" [(ngModel)]="count"/>


<div class="xyz">

  My style is by Class File..
  </div>

<br/>
<div [ngClass]="'temp1'">
My style is by ngClass File..
</div>

<br/>
<div [ngClass]="var1">
My style is by ngClass File but through variable in app-comonent side
</div>



<br/>
<div [ngClass]="var2" (click)="var2='temp1'">
My style is by ngClass File but through variable in app-comonent side on click
</div>


<br/>
<div style="background: #8a1e1e;border: 1px;border-color: white;margin: 5px;">
working on class user defined {{obj1.count}}
<br/>
working on class user defined {{obj2.num}}
<br/>
working on class user defined3
</div>

App component {{obj2.num}}
<input type="button" value="click"/>







